/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
    overflow: hidden;
}

:root {
    --blue: #243985;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 70%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 53.33333333%;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 71.111111%;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 83.333333%;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 100%;
        background: none;
    }
}